@charset "utf-8";
.bg-azul   {
    background-color: #3A3CA7;
}
.custom-azul-arrows {
    -webkit-box-shadow: 0px 0px #3A3CA7;
    box-shadow: 0px 0px #3A3CA7;
    /* [disabled]background-color: #3A3CA7; */
}
.bg-gris {
    background-color: #FFFFFF;
}
.bg-negro {
    background-color: #000000;
}
.align-content-lg-stretch {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.bg-rosa {
    background-color: #FFBBA8;
}
.custom-azul-arrows {
}
.text-titulo {
    font-family: "Zen Dots Regular";
}
.text-cuerpo {
    font-family: Lato;






}
.text-subt {
    font-family: "Lato Black";

}
